WebTest/Service References/BBSSearchService/BBS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://192.9.99.105:800/BBS.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://192.9.99.105:800/BBS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.9.99.105:800/BBS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
      <xsd:import schemaLocation="http://192.9.99.105:800/BBS.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://192.9.99.105:800/BBS.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SZHome.BBSSearch.Common" />
      <xsd:import schemaLocation="http://192.9.99.105:800/BBS.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/SZHome.Search.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BBS_CommentDelete_InputMessage">
    <wsdl:part name="parameters" element="CommentDelete" />
  </wsdl:message>
  <wsdl:message name="BBS_CommentDelete_OutputMessage">
    <wsdl:part name="parameters" element="CommentDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="BBS_CommentBatDelete_InputMessage">
    <wsdl:part name="parameters" element="CommentBatDelete" />
  </wsdl:message>
  <wsdl:message name="BBS_CommentBatDelete_OutputMessage">
    <wsdl:part name="parameters" element="CommentBatDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="BBS_DeleteUserComment_InputMessage">
    <wsdl:part name="parameters" element="DeleteUserComment" />
  </wsdl:message>
  <wsdl:message name="BBS_DeleteUserComment_OutputMessage">
    <wsdl:part name="parameters" element="DeleteUserCommentResponse" />
  </wsdl:message>
  <wsdl:message name="BBS_DeleteUserAllComment_InputMessage">
    <wsdl:part name="parameters" element="DeleteUserAllComment" />
  </wsdl:message>
  <wsdl:message name="BBS_DeleteUserAllComment_OutputMessage">
    <wsdl:part name="parameters" element="DeleteUserAllCommentResponse" />
  </wsdl:message>
  <wsdl:message name="BBS_CommentAdd_InputMessage">
    <wsdl:part name="parameters" element="CommentAdd" />
  </wsdl:message>
  <wsdl:message name="BBS_CommentAdd_OutputMessage">
    <wsdl:part name="parameters" element="CommentAddResponse" />
  </wsdl:message>
  <wsdl:message name="BBS_CommentReply_InputMessage">
    <wsdl:part name="parameters" element="CommentReply" />
  </wsdl:message>
  <wsdl:message name="BBS_CommentReply_OutputMessage">
    <wsdl:part name="parameters" element="CommentReplyResponse" />
  </wsdl:message>
  <wsdl:message name="BBS_CommentEdit_InputMessage">
    <wsdl:part name="parameters" element="CommentEdit" />
  </wsdl:message>
  <wsdl:message name="BBS_CommentEdit_OutputMessage">
    <wsdl:part name="parameters" element="CommentEditResponse" />
  </wsdl:message>
  <wsdl:message name="BBS_UpdateSubjectType_InputMessage">
    <wsdl:part name="parameters" element="UpdateSubjectType" />
  </wsdl:message>
  <wsdl:message name="BBS_UpdateSubjectType_OutputMessage">
    <wsdl:part name="parameters" element="UpdateSubjectTypeResponse" />
  </wsdl:message>
  <wsdl:message name="BBS_AddCommentTag_InputMessage">
    <wsdl:part name="parameters" element="AddCommentTag" />
  </wsdl:message>
  <wsdl:message name="BBS_AddCommentTag_OutputMessage">
    <wsdl:part name="parameters" element="AddCommentTagResponse" />
  </wsdl:message>
  <wsdl:message name="BBS_AddCommentTagsId_InputMessage">
    <wsdl:part name="parameters" element="AddCommentTagsId" />
  </wsdl:message>
  <wsdl:message name="BBS_AddCommentTagsId_OutputMessage">
    <wsdl:part name="parameters" element="AddCommentTagsIdResponse" />
  </wsdl:message>
  <wsdl:message name="BBS_AddCommentTagIds_InputMessage">
    <wsdl:part name="parameters" element="AddCommentTagIds" />
  </wsdl:message>
  <wsdl:message name="BBS_AddCommentTagIds_OutputMessage">
    <wsdl:part name="parameters" element="AddCommentTagIdsResponse" />
  </wsdl:message>
  <wsdl:message name="BBS_DeleteCommentTag_InputMessage">
    <wsdl:part name="parameters" element="DeleteCommentTag" />
  </wsdl:message>
  <wsdl:message name="BBS_DeleteCommentTag_OutputMessage">
    <wsdl:part name="parameters" element="DeleteCommentTagResponse" />
  </wsdl:message>
  <wsdl:message name="BBS_DeleteCommentAllTag_InputMessage">
    <wsdl:part name="parameters" element="DeleteCommentAllTag" />
  </wsdl:message>
  <wsdl:message name="BBS_DeleteCommentAllTag_OutputMessage">
    <wsdl:part name="parameters" element="DeleteCommentAllTagResponse" />
  </wsdl:message>
  <wsdl:message name="BBS_CommentSearchWithTag_InputMessage">
    <wsdl:part name="parameters" element="CommentSearchWithTag" />
  </wsdl:message>
  <wsdl:message name="BBS_CommentSearchWithTag_OutputMessage">
    <wsdl:part name="parameters" element="CommentSearchWithTagResponse" />
  </wsdl:message>
  <wsdl:message name="BBS_CommentTitleSearchWithTagIds_InputMessage">
    <wsdl:part name="parameters" element="CommentTitleSearchWithTagIds" />
  </wsdl:message>
  <wsdl:message name="BBS_CommentTitleSearchWithTagIds_OutputMessage">
    <wsdl:part name="parameters" element="CommentTitleSearchWithTagIdsResponse" />
  </wsdl:message>
  <wsdl:portType name="BBS">
    <wsdl:operation name="CommentDelete">
      <wsdl:input wsaw:Action="urn:BBS/CommentDelete" message="BBS_CommentDelete_InputMessage" />
      <wsdl:output wsaw:Action="urn:BBS/CommentDeleteResponse" message="BBS_CommentDelete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CommentBatDelete">
      <wsdl:input wsaw:Action="urn:BBS/CommentBatDelete" message="BBS_CommentBatDelete_InputMessage" />
      <wsdl:output wsaw:Action="urn:BBS/CommentBatDeleteResponse" message="BBS_CommentBatDelete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUserComment">
      <wsdl:input wsaw:Action="urn:BBS/DeleteUserComment" message="BBS_DeleteUserComment_InputMessage" />
      <wsdl:output wsaw:Action="urn:BBS/DeleteUserCommentResponse" message="BBS_DeleteUserComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUserAllComment">
      <wsdl:input wsaw:Action="urn:BBS/DeleteUserAllComment" message="BBS_DeleteUserAllComment_InputMessage" />
      <wsdl:output wsaw:Action="urn:BBS/DeleteUserAllCommentResponse" message="BBS_DeleteUserAllComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CommentAdd">
      <wsdl:input wsaw:Action="urn:BBS/CommentAdd" message="BBS_CommentAdd_InputMessage" />
      <wsdl:output wsaw:Action="urn:BBS/CommentAddResponse" message="BBS_CommentAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CommentReply">
      <wsdl:input wsaw:Action="urn:BBS/CommentReply" message="BBS_CommentReply_InputMessage" />
      <wsdl:output wsaw:Action="urn:BBS/CommentReplyResponse" message="BBS_CommentReply_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CommentEdit">
      <wsdl:input wsaw:Action="urn:BBS/CommentEdit" message="BBS_CommentEdit_InputMessage" />
      <wsdl:output wsaw:Action="urn:BBS/CommentEditResponse" message="BBS_CommentEdit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSubjectType">
      <wsdl:input wsaw:Action="urn:BBS/UpdateSubjectType" message="BBS_UpdateSubjectType_InputMessage" />
      <wsdl:output wsaw:Action="urn:BBS/UpdateSubjectTypeResponse" message="BBS_UpdateSubjectType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCommentTag">
      <wsdl:input wsaw:Action="urn:BBS/AddCommentTag" message="BBS_AddCommentTag_InputMessage" />
      <wsdl:output wsaw:Action="urn:BBS/AddCommentTagResponse" message="BBS_AddCommentTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCommentTagsId">
      <wsdl:input wsaw:Action="urn:BBS/AddCommentTagsId" message="BBS_AddCommentTagsId_InputMessage" />
      <wsdl:output wsaw:Action="urn:BBS/AddCommentTagsIdResponse" message="BBS_AddCommentTagsId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCommentTagIds">
      <wsdl:input wsaw:Action="urn:BBS/AddCommentTagIds" message="BBS_AddCommentTagIds_InputMessage" />
      <wsdl:output wsaw:Action="urn:BBS/AddCommentTagIdsResponse" message="BBS_AddCommentTagIds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCommentTag">
      <wsdl:input wsaw:Action="urn:BBS/DeleteCommentTag" message="BBS_DeleteCommentTag_InputMessage" />
      <wsdl:output wsaw:Action="urn:BBS/DeleteCommentTagResponse" message="BBS_DeleteCommentTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCommentAllTag">
      <wsdl:input wsaw:Action="urn:BBS/DeleteCommentAllTag" message="BBS_DeleteCommentAllTag_InputMessage" />
      <wsdl:output wsaw:Action="urn:BBS/DeleteCommentAllTagResponse" message="BBS_DeleteCommentAllTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CommentSearchWithTag">
      <wsdl:input wsaw:Action="urn:BBS/CommentSearchWithTag" message="BBS_CommentSearchWithTag_InputMessage" />
      <wsdl:output wsaw:Action="urn:BBS/CommentSearchWithTagResponse" message="BBS_CommentSearchWithTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CommentTitleSearchWithTagIds">
      <wsdl:input wsaw:Action="urn:BBS/CommentTitleSearchWithTagIds" message="BBS_CommentTitleSearchWithTagIds_InputMessage" />
      <wsdl:output wsaw:Action="urn:BBS/CommentTitleSearchWithTagIdsResponse" message="BBS_CommentTitleSearchWithTagIds_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>