ConsoleApplication1/Service References/BookingHouse/BookingHouse1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:33835/BookingHouse.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:33835/BookingHouse.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BookingHouse_Booking_InputMessage">
    <wsdl:part name="parameters" element="Booking" />
  </wsdl:message>
  <wsdl:message name="BookingHouse_Booking_OutputMessage">
    <wsdl:part name="parameters" element="BookingResponse" />
  </wsdl:message>
  <wsdl:message name="BookingHouse_BrokerConfirmBooking_InputMessage">
    <wsdl:part name="parameters" element="BrokerConfirmBooking" />
  </wsdl:message>
  <wsdl:message name="BookingHouse_BrokerConfirmBooking_OutputMessage">
    <wsdl:part name="parameters" element="BrokerConfirmBookingResponse" />
  </wsdl:message>
  <wsdl:message name="BookingHouse_UserConfirmBooking_InputMessage">
    <wsdl:part name="parameters" element="UserConfirmBooking" />
  </wsdl:message>
  <wsdl:message name="BookingHouse_UserConfirmBooking_OutputMessage">
    <wsdl:part name="parameters" element="UserConfirmBookingResponse" />
  </wsdl:message>
  <wsdl:portType name="BookingHouse">
    <wsdl:operation name="Booking">
      <wsdl:input wsaw:Action="urn:BookingHouse/Booking" message="BookingHouse_Booking_InputMessage" />
      <wsdl:output wsaw:Action="urn:BookingHouse/BookingResponse" message="BookingHouse_Booking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BrokerConfirmBooking">
      <wsdl:input wsaw:Action="urn:BookingHouse/BrokerConfirmBooking" message="BookingHouse_BrokerConfirmBooking_InputMessage" />
      <wsdl:output wsaw:Action="urn:BookingHouse/BrokerConfirmBookingResponse" message="BookingHouse_BrokerConfirmBooking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserConfirmBooking">
      <wsdl:input wsaw:Action="urn:BookingHouse/UserConfirmBooking" message="BookingHouse_UserConfirmBooking_InputMessage" />
      <wsdl:output wsaw:Action="urn:BookingHouse/UserConfirmBookingResponse" message="BookingHouse_UserConfirmBooking_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>